@charset "UTF-8";

.productList{
    font-family: 'JalpullineunOneul';
    width: 65%;
    margin: 0 auto;
    padding: 3% 0;
}

.productListItems {
    display: grid;
    grid-template-columns: repeat(4, 23%);
    grid-template-rows: repeat(3, minmax(340px, auto));
    row-gap: 1rem;
    column-gap: 1rem;
    align-items: center;
    justify-content: center;
}

.productWrapper .productImage img{
    transition: all 0.2s linear;
    overflow: hidden;
}

.productWrapper .productImage:hover img{
    transform: scale(1.1);
    overflow: hidden;
}

.productContent .productTitle .productName{
    color: #000;
    font-size: 13px;
    text-decoration: none;
}

.productContent .productTitle .productName:hover{
    /* color: #757575; */
    color: #35c5f0;
    text-decoration: none;
    cursor: pointer;
}

.productContent .productPrice .price{
    font-size: 17px;
    font-weight: 700;
}

.productImage img{
    width: 100%;
    border-radius: 4px;
}


.productListInner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: 100%;
}

.productListPageNum {
    margin-top: 1rem;
}

.productListPageNum > span, .productListPageNum > a {
    margin: 0 0.2rem;
}


/* SWIPER */
.swiper {
    width: 100%;
    height: 350px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Scroll Magic */
#to-top {
    width: 42px;
    height: 42px;
    background-color: #333;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 9;
}
