@charset "UTF-8";

.productDetailReview{
		width: 65%;
		margin: 0 auto 20px auto;
		font-family: 'JalpullineunOneul';
	}
	
	.detailWrapper{	
		height: 550px;
		padding-top: 3%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
	
	.detailLeft img{
	 	border-radius: 5px;
	}
	
	.detailRight{
	 	text-align: left;
	 	margin: 80px 100px 0 0;
	}
	
	.detailRight .detailTitle{
		width: 260px;
	 	font-size: 25px;
	    line-height: 33px;
	    min-height: 43px;
	    margin: 15px 92px 25px 0;
	}
	
	.detailRight .swiper{
		margin: 0;
	    margin-top: 50px;
	}
	
	.detailRight .detailPrice{
		line-height: 1;
	    font-size: 20px;
	    font-weight: 700;
	    margin-top: 5px;
	}
	
	.detailRight .detailPrice .detailPriceContent{
		margin: 20px 0px;
		font-family: Tahoma,Tahoma For Number;
	}
	
	.grade{
		color: #35c5f0;
	}
	
	.detailRight .detailStock{
		font-size: 14px;
	    line-height: 21px;
	    color: #828c94;
	}
	
	.detailRight form [type="button"]{
		width: 260px;
		background-color: #35c5f0;
	    border: none;
	    border-radius: 5px;
	    color: #fff;
	    font-size: 20px;
	    cursor: pointer;
	}
	
	.detailOrder{
		margin: 20px 0;
	}
	
	.review{
		margin: 50px 260px 0 70px;
	}
	
	.review button{
		width: 130px;
		height: 45px;
		background-color: #35c5f0;
	    border: none;
	    border-radius: 5px;
	    color: #fff;
	    font-size: 20px;
	    cursor: pointer;
	}