.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-col-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mypage-container {
    align-items: flex-start;

    min-height: 90vh;
}

.mypage-wrapper {
    display: grid;
    width: 80%;
    grid-template-columns: 25% minmax(70%, auto);
    grid-column-gap: 2rem;

    padding: 2rem;
}

.mypage-wrapper > div {
    padding: 2rem;
}

.mypage-profile {
    justify-content: space-between;
    max-height: 50vh;
}

.mypage-contents {
    justify-content: flex-start;
    height: 80vh;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.mypage-contents::-webkit-scrollbar {
    display: none;
}

.mypage-border {
    border: 1px solid #ebebeb;
    border-radius: 8px;
}

.divider {
    width: 100%;
    border-bottom: 1px solid #ebebeb;
    margin: 2rem 0;
}

.divider-col {
    color: #ebebeb;
    margin: 0 1rem;
}

.profile-head {
    font-size: 1.3rem;
    font-weight: 700;
    color: #35c5f0;
    margin: 1.5rem 0 0.3rem 0;
}

.profile-edit {
    color: #969696;
    font-size: 0.7rem;
    margin-bottom: 1rem;
}

.profile-contents-label {
    font-weight: 700;
    margin-right: 5px;
}

.profile-text {
    font-size: 0.8rem;
}

.profile-img {
    max-width: 60%;
    opacity: 70%;
}

.content-head {
    font-size: 1.2rem;
}

.content-item {
    width: 100%;
    padding: 0 2rem;
    justify-content: flex-start;
}

.content-text {
    font-size: 0.9rem;
}

.review-date {
    font-size: 0.8rem;
    color: #969696;
}

.content-img {
    max-width: 5rem;
    margin-right: 1rem;
}

.activated {
    color: #009FCE;
    font-weight: 700;
}

.disabled {
    color: #969696;
}

.pointer-cursor {
    cursor: pointer;
}

a, a:hover {
    text-decoration: none;
    outline: none;
    color: inherit;
}

.disabled-page {
    display: none;
}

.activated-page {
    display: flex;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-col-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mypage-container {
    align-items: flex-start;

    min-height: 90vh;
}

.mypage-wrapper {
    display: grid;
    width: 80%;
    grid-template-columns: 25% minmax(70%, auto);
    grid-column-gap: 2rem;

    padding: 2rem;
}

.mypage-wrapper > div {
    padding: 2rem;
}

.mypage-profile {
    justify-content: space-between;
    max-height: 50vh;
}

.mypage-contents {
    justify-content: flex-start;
    height: 80vh;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.mypage-contents::-webkit-scrollbar {
    display: none;
}

.mypage-border {
    border: 1px solid #ebebeb;
    border-radius: 8px;
}

.order-divider {
    width: 100%;
    border-bottom: 1px solid #dadada;
    margin: 0.5rem 0;
}

.order-product-divider {
    width: 100%;
    border-bottom: 1px solid #ebebeb;
    margin: 0.3rem 0;
}


.divider-col {
    color: #ebebeb;
    margin: 0 1rem;
}

.profile-contents-label {
    font-weight: 700;
    margin-right: 5px;
}

.profile-text {
    font-size: 0.8rem;
}

.profile-img {
    max-width: 60%;
    opacity: 70%;
}

.content-head {
    font-size: 1.2rem;
}

.content-item {
    width: 100%;
    padding: 0 2rem;
    justify-content: flex-start;
}

.content-text {
    font-size: 0.9rem;
}

.review-date {
    font-size: 0.8rem;
    color: #969696;
}

.content-img {
    max-width: 5rem;
    margin-right: 1rem;
}

.activated {
    color: #009FCE;
    font-weight: 700;
}

.disabled {
    color: #969696;
}

.pointer-cursor {
    cursor: pointer;
}

a, a:hover {
    text-decoration: none;
    outline: none;
    color: inherit;
}

.disabled-page {
    display: none;
}

.activated-page {
    display: flex;
}